@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-size: 16px;
    color: #fff;
    background-color: #e4e4e4;
    font-family: 'Poppins', sans-serif;
}
#navbarSupportedContent {
    position: relative;
}
#header-nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    z-index: 1000;
}
.navbar-brand {
    padding-top: 10px;
}
.navbar-brand a{
    text-decoration: none;
}
.navbar-brand h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#nav-list {
    padding-top: 10px;
    padding-bottom: 10px;
}
#nav-list a{
    text-align: center;
    position: relative;
    padding: 0px 20px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 2px;
    transition: all 0.1s;
}
#nav-list a:hover{
    background: #205aff;
    border-radius: 2px;
}
#nav-list a{
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#nav-list a:hover {
    padding-right: 25px;
    padding-inline-start: 25px;
}
#toggleButton {
    position: relative;
    float: left;
    border: 1px solid #fff;
}
.navbar-toggler-icon {
    clear: both;
}
/* END HEADER */

/* CSS for Signup*/
#createAccContent {
    color: #111;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
/*End of signup*/

/* login css */

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
#loginBody {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

#signInContent {
    padding: 25px;
}
#loginForm {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

#loginWelcome { 
    border:0 solid #111; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
    color: #111;
}

#loginFormControl {
    border-radius: 10px;
}

#loginWrapper {
    text-align: center;
}
/* end of login css */

/* FOOTER */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.panel-footer div.row {
    margin-bottom: 35px;
}
#hours, #address {
    line-height: 2;
}
#hours > span, #address > span {
    font-size: 1.2em;
}
#address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials {
    font-style: italic;
}
#testimonials p:nth-child(2) {
    margin-top: 25px;
}
footer section hr {
    background-color: #fff;
}

/* HOME PAGE */
.container #carouselControls {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    padding-top: 0;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
}
#jumbo {
    padding: 0;
    text-align: center;
}
#signUp {
    font-size: larger;
    position: relative;
    margin-top: 50px;
}

/* Large */
@media (min-width: 1200px) {
    .container .jumbotron {
        
        height: 675px;
    }
    #signUp {
        font-size: larger;
        position: relative;
        margin-top: 50px;
    }
    #signInContent {
        padding: 25px;
        position: absolute;
        left: 33.33%;
        top: 33.33%;
    }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
    .container .jumbotron {
        
        height: 558px;
    }
    #signUp {
        font-size: larger;
        position: relative;
        margin-top: 25px;
    }
    #signInContent {
        padding: 25px;
        position: absolute;
        left: 33.33%;
        top: 33.33%;
    }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
    .container .jumbotron {
        
        height: 432px;
    }
    #signUp {
        font-size: larger;
        position: relative;
        margin-top: 10px;
        width: 100px;
    }
    #signInContent {
        padding: 25px;
        position: absolute;
        left: 38%;
        top: 33.33%;
    }
}

/* Extra Small */
@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 20px;
        height: 80px;
    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 4.3vw; /* 1vw = 1% viewpoint width */
    }
    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;
    }
    #navbarSupportedContent a {
        font-size: 1.2em;
    }
    #navbarSupportedContent a span {
        font-size: 1em;
    }
    /* END HEADER */

    /* FOOTER */
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section:nth-child(3) {
        margin-bottom: 0;
    }
    .panel-footer section hr {
        width: 100%;
    }

    /* HOME */
    .container .jumbotron {
        margin-top: 30px;
        padding: 0;
    }
    #signUp {
        font-size: larger;
        position: relative;
        margin-top: 10px;
    }
}
@media (max-width: 479px) {
    .navbar-brand h1 {
        padding-top: 5px;
        font-size: 5.3vw;
    }
    #signUp {
        font-size: larger;
        position: relative;
        margin-top: 10px;
    }
}